*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header img{
 border-radius: 200px;
 margin: 10px;
 height: 3rem;
 width: 3rem;
}

.cropper{
   
    overflow: hidden;
    border-radius: 200px;
}


.top{
    background-color:#2E3A46;;
}

/* MAIN PRINCIPALE */

.container{
    background-color:#1E2D3B; ;
    height:100vh ;
    display: flex;
    flex-wrap:nowrap
}


.disk{
    background-color:#2E3A46;
    color: white;
    padding: 20px 10px;
    
}

.disk img{
    max-width: 120px;
    max-height: 120px;
}


